<!DOCTYPE html>
<html lang= "en">

<head>
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="js/usercreate.component.js"></script>
    <script src="js/user.service.js"></script>
</head> 

<table>
    <tr><td>User name:</td><td><input id ="pusername" type ="text"></td></tr>
    <tr><td>Password:</td><td><input id ="ppassword" type ="text"></td></tr>
    <tr><td>First name:</td><td><input id ="pfirstname" type ="text"></td></tr>
    <tr><td>Last name:</td><td><input id ="plastname" type ="text"></td></tr>
    <tr><td>Phone:</td><td><input id ="pphone" type ="text"></td></tr>
    <tr><td>Email:</td><td><input id ="pemail" type ="text"></td></tr>
    <tr><td>Reviewer?</td><td><input id ="previewer" type ="checkbox"></td></tr>
    <tr><td>Admin?:</td><td><input id ="padmin" type ="checkbox"></td></tr>
    <tr><td>Active?:</td><td><input id ="pactive" type ="checkbox"></td></tr>
</table>

<button id="btnSave">SAVE</button>
</body>
</html>